* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}
h1{
  margin: 20px;
}
.container{
    width: 100%;
    min-height: 85vh;
    background-color: #2c3658;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.box{
  color: #fff;
    height: 30rem;
    width: 30rem;
    padding: 1rem 2rem;
    background: #699cf4;
    border-radius: 1rem;
    border-top: 5px solid #00fff2;
    transition: all .3s ease-in;
}
.nav{
  display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

footer{
  width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
}
button{
  padding: .5rem 1rem;
    background: #2c3658;
    margin-left: auto;
    border-radius: .2rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}
button:active{
  background-color: #2c5658f4;
}
h2{
  min-height: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background: #00fff233;
    border-radius: .4rem;
    padding: 1rem;
    border: 2px solid rgba(0, 255, 242, .5);
    margin-top: 20px;
    text-align: left;
}
.option{
  list-style: none;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 30px;
}
li{
  padding: .6rem;
    border: 2px solid rgba(44, 54, 88, .5);
    border-radius: .4rem;
    cursor: pointer;
    background: #2c365833;
    text-align: left;
   margin-top: 20px;
   margin-bottom: 20px;
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}


